html{
    height: 100%;
    overflow-x: hidden;
}
body{
    height: 100%;
    margin:0;
}
/*---font---*/
@font-face{ 
    font-family: 'S-CoreDream-2Light';
    src: url('./font/S-Core_Dream_OTF/SCDream2.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-5heady';
    src: url('./font/S-Core_Dream_OTF/SCDream4.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-8heady';
    src: url('./font/S-Core_Dream_OTF/SCDream8.otf') format('OpenType');
}
/*---main page---*/
