html{
    height: 100%;
    overflow-x: hidden;
}
body{
    height: 100%;
    margin: 0;
}
/*---font---*/
@font-face{ 
    font-family: 'S-CoreDream-2Light';
    src: url('./font/S-Core_Dream_OTF/SCDream2.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-4heady';
    src: url('./font/S-Core_Dream_OTF/SCDream4.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-8heady';
    src: url('./font/S-Core_Dream_OTF/SCDream8.otf') format('OpenType');
}
/*---main page---*/
.top_text{
    border-bottom: 1px solid #000;
    padding: 0 0 2px 0;
    text-align: right;
    margin: 10px 470px 0 470px;
}
.x{
    display: inline;
}
.top{
    font-family: 'S-CoreDream-4heady';
    font-size: 12px;
    display: inline;
}
.hi{
    font-family: 'S-CoreDream-2Light';
    color: #00897F;
    font-size: 18px;
    margin: 60px 0 0 470px;
}
.title{
    font-family: 'S-CoreDream-8heady';
    color: #00897F;
    font-size: 98px;
    margin: -20px 0 0 470px;
}
.main_img{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 1% auto 0 auto;
}
.main_img img{
    max-width: 100%;
    height: auto;
    display: inline;
}
.name{
    font-family: 'S-CoreDream-4heady';
    color: #000;
    font-size: 18px;
    letter-spacing: 4px;
    margin: -90px 0 0 470px;
}
/*--- introduction---*/
.me_background{
    width: 50%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 200px 0 0 270px;
}
.me_background img{
    max-width: 100%;
    height: auto;
    display: inline;
    text-align: center;
}
.me_gif{
    width: 50%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: -320px 0 0 270px;
}
.me_gif img{
    max-width: 100%;
    height: auto;
    display: inline;
    text-align: center;
}
.line{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: -295px 0 0 10px;
}
.line img{
    max-width: 100%;
    height: auto;
    display: inline;
    text-align: center;
}
.introduction_title{
    font-family: 'S-CoreDream-2Light';
    color: #00897F;
    font-size: 24px;
    margin: -330px -230px 20px 0;
    letter-spacing: 3px;
    text-align: center;
}
.in_content{
    color: #000;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 0 230px;
}
.in_content_1{
    font-family: 'S-CoreDream-8heady';
    display: inline;
    margin: 10px 0 0 0;
}
.in_content_2{
    font-family: 'S-CoreDream-4heady';
    display: inline;
    margin: 10px 0 0 10px;
}
.in_content2{
    color: #000;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 0 353px;
}
.in_content3{
    color: #000;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 0 275px;
}
.in_title_2{
    font-family: 'S-CoreDream-2Light';
    color: #00897F;
    font-size: 24px;
    margin: 30px -200px 20px 0;
    letter-spacing: 3px;
    text-align: center;
}
.text-line{
    font-family: 'S-CoreDream-4heady';
    font-size: 14px;
    margin: -12px auto 0 980px;
    text-align: left;
}
.text-line span{
    position: relative;
    margin-right: 10px;
}
.text-line span::after{
    content:"";
    position: absolute;
    bottom: 10px;
    left:6px;
    width:100%;
    height: 1px;
    background-color: #000;
}
.content{
    margin: 0 0 23px 0;
}
.history_text{
    display: inline-block;
}
.skill{
    font-family: 'S-CoreDream-2Light';
    color: #00897F;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
    margin: 60px 320px 20px 570px;
    display: inline-block;
}
.thing{
    font-family: 'S-CoreDream-2Light';
    color: #00897F;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
    display: inline-block;
    margin: 60px 0 20px 0;
}
.skill_group{
    margin: 0 0 0 590px;
    display: inline;
}
.skill_img{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    display: inline;
    margin: 0 10px 0 0;
}
.skill_img img{
    max-width: 100%;
    height: auto;
    display: inline;
    text-align: center;
}
.thing_group{
    margin: 0 0 0 76px;
    display: inline;
}
/*---content---*/
.black_background{
    margin: 200px 0 380px 0;
    border: 1000px solid #000;
    background-attachment: fixed;
}
.middle_text{
    border-bottom: 1px solid #fff;
    text-align: left;
    margin: -2300px 470px 0 470px;
    padding: 0 0 2px 0;
}
.x{
    display: inline;
}
.middle{
    font-family: 'S-CoreDream-4heady';
    font-size: 12px;
    display: inline;
    color:#fff;

}
.arrow{
    text-align: right;
    margin: -30px 476px 0 0;
}
.click_text{
    font-family: 'S-CoreDream-2Light';
    color: #fff;
    font-size: 16px;
    margin: 200px 0 20px 520px;
    letter-spacing: 1px;
}
.click_content_1{
    margin: 20px 20px 0 540px;
    display: inline-block;
}
.click_content_2{
    margin: 20px 20px 0 0;
    display: inline-block;
}
.click_content_3{
    margin: 0 0 20px 0;
}
.clock_text_3and4{
    display: inline-block;
}
.click_content_5, .click_content_9, .click_content_12, .click_content_14{
    margin: 20px 0 0 540px;
    display: inline-block;
}
.click_content_6, .click_content_7, .click_content_8{
    margin: 0 0 0 18px;
    display: inline-block;
}
.click_content_10, .click_content_11, .click_content_15, .click_content_16{
    margin: 0 0 0 20px;
    display: inline-block;
}
.click_content_13{
    margin: 0 0 0 20px;
    display: inline-block;
}
.click_content_12_2{
    margin: 0 0 0 24px;
    display: inline-block;
}
.green_background hr{
    border: 400px solid #00897F;
    margin: 150px 0 0 0;
    width: 100%;
}
.good_bye{
    width: 81%;
    height: auto;
    overflow: hidden;
    margin: -593px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.good_bye img{
    max-width: 81%;
    height: auto;
    display: inline;
    text-align: center;
}